.example-card {
  max-width: 340px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.cards{
    display:flex;
    justify-content:space-between;
}

.space-text {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
}
.space-text-child{
    width:245px;
}

.carousel-inner .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}
.carousel-content {
  position: absolute;
  bottom: 50%;
  left: 20%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size:56px;
  width:400px;
  display:flex;
  
}
